@import "src/assets/styles/core/variables";

.episode-sidenav {
  background-color: $color-secondary;
  max-height: 650px;
  height: 650px;
  overflow: auto;
  border: 1px solid rgba(255,255,255,0.1);

  &::-webkit-scrollbar {
    width: 0.6em;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-dark;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border-radius: 4px;
    border: 2px solid $color-dark;
    background-clip: padding-box;

    &:hover {
      background-color: $color-primary-50;
    }
  }

  .episodes-container {
    .image-container {
      position: relative;

      img {
        user-select: none;
        width: 100px;
        height: 100px;
        object-fit: cover;
      }

      .image-index {
        position: absolute;
        left: 0;
        bottom: 0;
        color: white;
        font-size: 12px;
        line-height: 1;
        display: block;
        padding: 3px 4px 1px;
        background-color: rgb(82, 82, 82);
      }
    }

    .accordion-title {
      color: white;
      font-size: 24px;
    }

    .accordion-badge {
      border: 0.1px solid transparentize($color-primary, 0.7);
      color: $color-primary;
      padding: 5px 10px;
      transition: all 800ms;

      &:hover {
        background-color: $color-primary;
        box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
        color: white;
      }

      &:first-child {
        margin-right: 10px;
      }

      &:last-child {
        margin-left: 10px;
      }
    }

    .accordion-badge-active {
      background-color: $color-primary;
      color: white;
    }
  }

  @media (max-width: 1440px) {
    max-height: 400px;
    height: 400px;
  }
}

.active-episode-item {
  background-color: transparentize($color-dark-secondary, 0.1);
}

