<app-head-section>
    <app-movie-carousel></app-movie-carousel>
</app-head-section>

<app-basic-movie-carousel-card>
  <swiper
    #topMovieSwiperRef
    slideClass="suggested-swiper-slide"
    [loop]="true"
    [effect]="'flip'"
    [grabCursor]="true"
    [centeredSlides]="true"
    [navigation]="true"
    [slidesPerView]="'auto'"
    [spaceBetween]="25"
  >
    <ng-container *ngFor="let topMovie of homeTopMovies$ | async">
      <ng-template swiperSlide>
          <app-basic-movie-card
            [imgSrc]="topMovie?.covers?.s510 ?? topMovie?.covers?.s367 ?? ''"
            [link]="'/'"
            [rating]="topMovie?.imdb ?? 0"
            [title]="topMovie?.engTitle ?? ''"
            [categories]="tempHelper.getGenres(topMovie?.genres)"
          >
          </app-basic-movie-card>

<!--            <app-basic-movie-card-->
<!--              [imgSrc]="'https://i.pinimg.com/564x/23/2e/10/232e10e134cf1d24f10dae39073377d7&#45;&#45;gifs-anim%C3%A9s-animated-gifs.jpg'"-->
<!--              [link]="'/'"-->
<!--              [rating]="1.7"-->
<!--              [title]="x + ' <&#45;&#45;The Devil Princess'"-->
<!--              [categories]="['Wassup', 'Hello']"-->
<!--            >-->
<!--            </app-basic-movie-card>-->
      </ng-template>
    </ng-container>
</swiper>
</app-basic-movie-carousel-card>

<section class="content" style="margin-top: 100px">
  <!-- content title -->
  <div class="container">
    <h2 class="content__title">New items</h2>
  </div>

  <!-- content tab-group nav -->
  <my-tabs [classNames]="['shadow-bottom']">
    <my-tab tabTitle="NEW RELEASES">
      <div class="row" style="width: 100%;margin: 0">
        <!-- content tab-group -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="tab-1" aria-labelledby="1-tab">
            <div class="row">
              <div
                class="col-6 col-sm-12 col-lg-6"
                *ngFor="let movie of homeMovies$ | async"
              >
                <app-advanced-movie-card
                  [imgSrc]="movie?.covers?.s510 ?? ''"
                  [link]="'/'"
                  [rating]="movie?.imdb ?? 0"
                  [title]="movie?.engTitle ?? ''"
                  [categories]="tempHelper.getGenres(movie?.genres)"
                  [description]="tempHelper.getDescription(movie?.plots)"
                >
                </app-advanced-movie-card>
              </div>
            </div>
          </div>
        </div>

        <!-- show more -->
        <div class="col-12">
          <a href="#" class="section__btn">Show more</a>
        </div>
      </div>
    </my-tab>
    <my-tab tabTitle="MOVIES">
      <p class="content__title">No content</p>
    </my-tab>
    <my-tab tabTitle="TV SERIES">
      <p class="content__title">No content</p>
    </my-tab>
    <my-tab tabTitle="CARTOONS">
      <p class="content__title">No content</p>
    </my-tab>
  </my-tabs>
</section>

