<!--  (swiper)="onSwiper($event)"-->
<swiper
  #homeHeaderSwiperRef
  class="head-swiper"
  (slideChange)="onSlideChange($event)"
  [observeParents]="true"
  [effect]="'flip'"
  [grabCursor]="true"
  [centeredSlides]="true"
  [spaceBetween]="350"
  [navigation]="true"
  [slidesPerView]="'auto'"
>
  <ng-container *ngIf="homeSuggestedMovies$">
    <ng-container *ngFor="let suggestedMovie of homeSuggestedMovies$ | async">
      <ng-template swiperSlide>
        <app-movie-carousel-item
          [imgUrl]="suggestedMovie?.covers?.s1050 ?? ''"
          [title]="suggestedMovie?.engTitle ?? ''"
          [description]="tempHelper.getDescription(suggestedMovie?.plots)"
          [rating]="suggestedMovie?.imdb ?? 0"
          [link]="'/'"
          [releaseYear]="suggestedMovie?.releaseYear ?? ''"
        ></app-movie-carousel-item>
      </ng-template>
    </ng-container>
  </ng-container>


<!--  <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8,9]">-->
<!--    <ng-template swiperSlide>-->
<!--      <app-movie-carousel-item-->
<!--        [imgUrl]="'https://i.pinimg.com/564x/23/2e/10/232e10e134cf1d24f10dae39073377d7&#45;&#45;gifs-anim%C3%A9s-animated-gifs.jpg'"-->
<!--        [title]="'The Devil Princess'"-->
<!--        [description]="'She is a devil princess from the demon world. She grew up sheltered by her parents and doesn\'t really know\n'+'      how to be evil or any of the common actions, She is unable to cry due to Keita\'s accidental first wish,\n'+'despite needed for him to wish...'"-->
<!--        [rating]="1.7"-->
<!--        [link]="'/'"-->
<!--        [releaseYear]="'2017'"-->
<!--      ></app-movie-carousel-item>-->
<!--    </ng-template>-->
<!--  </ng-container>-->
</swiper>
