.content__tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  margin-bottom: 50px;
}

.content__tabs li {
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}

.content__tabs li:last-child {
  margin-right: 0;
}

.content__tabs a {
  display: block;
  line-height: 50px;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.5);
}

.content__tabs a:hover {
  color: #fff;
}

.content__tabs a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  display: block;
  background-image: -moz-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  background-image: -webkit-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  background-image: -ms-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  transform: translateY(2px);
}

.content__tabs a.active {
  color: #fff;
}

.content__tabs a.active:before {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
}
