


<!-- page title -->
<section class="section section--first">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__wrap">
          <!-- section title -->
          <h2 class="section__title">{{'Catalog list' | pascalCase}}</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- filter -->
<div class="filter">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="filter__content">
          <div class="filter__items">
            <!-- filter item -->
            <div class="filter__item" style="min-width: 140px" id="filter__genre">
              <span class="filter__item-label">GENRE:</span>

              <app-dropdown
                [items]="[
                  {title: 'Animals', value: 'Animals-value'},
                  {title: 'Animation', value: 'Animation-value'},
                  {title: 'Biography', value: 'Biography-value'},
                  {title: 'Comedy', value: 'Comedy-value'},
                  {title: 'Cooking', value: 'Cooking-value'},
                  {title: 'Dance', value: 'Dance-value'},
                  {title: 'Documentary', value: 'Documentary-value'},
                  {title: 'Drama', value: 'Drama-value'},
                  {title: 'Education', value: 'Education-value'},
                  {title: 'Entertainment', value: 'Entertainment-value'},
                ]"
                placeholder="Select Genre"></app-dropdown>
            </div>

            <!-- filter item -->
            <div class="filter__item" id="filter__quality">
              <span class="filter__item-label">IMDB:</span>

              <app-dropdown
                [items]="[
                  {title:'<1', value: '1'},
                  {title:'1 < 2.5', value: '1'},
                  {title:'< 2.5', value: '1'},
                  {title:'< 4.5', value: '1'},
                ]"
                placeholder="Select Imdb"
                (itemClicked)="log($event)"
              ></app-dropdown>
            </div>
          </div>

          <!-- filter btn -->
          <button class="filter__btn" type="button">apply filter</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- catalog -->
<div class="catalog">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-12 col-lg-6" *ngFor="let movie of movieDataService.movieData">
        <app-advanced-movie-card
          [imgSrc]="movie.imgSrc"
          [link]="movie.link"
          [rating]="movie.rating"
          [title]="movie.title"
          [description]="movie.description"
          [categories]="movie.categories"
        >
        </app-advanced-movie-card>
      </div>

      <!-- paginator -->
      <div class="col-12">
        <ul class="paginator paginator--list">
          <li class="paginator__item paginator__item--prev">
            <a href="#"><i class="icon ion-ios-arrow-back"></i></a>
          </li>
          <li class="paginator__item"><a href="#">1</a></li>
          <li class="paginator__item paginator__item--active"><a href="#">2</a></li>
          <li class="paginator__item"><a href="#">3</a></li>
          <li class="paginator__item"><a href="#">4</a></li>
          <li class="paginator__item paginator__item--next">
            <a href="#"><i class="icon ion-ios-arrow-forward"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-suggested-movie-carousel [data]="movieDataService.suggestedMovieData">
</app-suggested-movie-carousel>
