<!-- page title -->
<section class="section section--first">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__wrap">
          <!-- section title -->
          <h2 class="section__title">Catalog list</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- filter -->
<div class="filter">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="filter__content">
          <div class="filter__items">
            <!-- filter item -->
            <div class="filter__item" id="filter__genre">
              <span class="filter__item-label">GENRE:</span>

              <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <input type="button" value="Action/Adventure">
                <span></span>
              </div>

              <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">
                <li>Action/Adventure</li>
                <li>Animals</li>
                <li>Animation</li>
                <li>Biography</li>
                <li>Comedy</li>
                <li>Cooking</li>
                <li>Dance</li>
                <li>Documentary</li>
                <li>Drama</li>
                <li>Education</li>
                <li>Entertainment</li>
                <li>Family</li>
                <li>Fantasy</li>
                <li>History</li>
                <li>Horror</li>
                <li>Independent</li>
                <li>International</li>
                <li>Kids</li>
                <li>Kids & Family</li>
                <li>Medical</li>
                <li>Military/War</li>
                <li>Music</li>
                <li>Musical</li>
                <li>Mystery/Crime</li>
                <li>Nature</li>
                <li>Paranormal</li>
                <li>Politics</li>
                <li>Racing</li>
                <li>Romance</li>
                <li>Sci-Fi/Horror</li>
                <li>Science</li>
                <li>Science Fiction</li>
                <li>Science/Nature</li>
                <li>Spanish</li>
                <li>Travel</li>
                <li>Western</li>
              </ul>
            </div>

            <!-- filter item -->
            <div class="filter__item" id="filter__quality">
              <span class="filter__item-label">IMBd:</span>

              <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-quality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <input type="button" value="HD 1080">
                <span></span>
              </div>

              <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-quality">
                <li>HD 1080</li>
                <li>HD 720</li>
                <li>DVD</li>
                <li>TS</li>
              </ul>
            </div>
          </div>

          <!-- filter btn -->
          <button class="filter__btn" type="button">apply filter</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- catalog -->
<div class="catalog">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-12 col-lg-6" *ngFor="let movie of movieDataService.movieData">
        <app-advanced-movie-card
          [imgSrc]="movie.imgSrc"
          [link]="movie.link"
          [rating]="movie.rating"
          [title]="movie.title"
          [description]="movie.description"
          [categories]="movie.categories"
        >
        </app-advanced-movie-card>
      </div>

      <!-- paginator -->
      <div class="col-12">
        <ul class="paginator paginator--list">
          <li class="paginator__item paginator__item--prev">
            <a href="#"><i class="icon ion-ios-arrow-back"></i></a>
          </li>
          <li class="paginator__item"><a href="#">1</a></li>
          <li class="paginator__item paginator__item--active"><a href="#">2</a></li>
          <li class="paginator__item"><a href="#">3</a></li>
          <li class="paginator__item"><a href="#">4</a></li>
          <li class="paginator__item paginator__item--next">
            <a href="#"><i class="icon ion-ios-arrow-forward"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-suggested-movie-carousel [data]="movieDataService.suggestedMovieData">
</app-suggested-movie-carousel>
