<header
  appClickOutside
  class="header__main"
  (clickOutside)="closeSearch()"
  [ngClass]="{ 'background-black': searchIsActive }"
>
  <div
    class="header__wrap transition-all"
    [ngClass]="{ 'background-black': shouldShowHeadBackground }"
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header__content">
            <!-- header logo -->
            <a
              [routerLink]="
                helperService.routeCheckFormat(
                  helperService.configs.routeRootNames.home
                )
              "
              class="header__logo"
            >
              <img src="assets/img/logo.png" alt="" />
            </a>

            <!-- header nav -->
            <ul class="header__nav">
              <li
                class="header__nav-item pointer"
                (click)="toggleSearch()"
                stopPropagation
              >
                <app-svg
                  [ngClass]="'header__search-icon'"
                  [width]="searchIsActive ? 32 : 25"
                  [height]="searchIsActive ? 32 : 25"
                  [type]="searchIsActive ? SvgIcon.CLOSE : SvgIcon.SEARCH"
                >
                </app-svg>
              </li>

              <li class="header__nav-item">
                <a
                  class="dropdown-toggle header__nav-link"
                  href="#"
                  role="button"
                  id="dropdownMenuHome"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  [routerLink]="
                    helperService.routeCheckFormat(
                      helperService.configs.routeRootNames.home
                    )
                  "
                >
                  Home
                </a>
              </li>

              <li class="header__nav-item">
                <a
                  [routerLink]="
                    helperService.routeCheckFormat(
                      helperService.configs.routeRootNames.signIn
                    )
                  "
                  class="join-now-button"
                >
                  Sign In
                </a>
              </li>
            </ul>

            <!-- header menu btn -->
            <button class="header__btn" type="button">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- header search -->
  <div
    style="transition: all 500ms ease-in-out; margin-bottom: 50px"
    class="container"
    *ngIf="searchIsActive"
    [@enterAnimation]="searchIsActive"
  >
    <div class="row">
      <div class="col-12">
        <div class="header__search-content">
          <input
            type="text"
            placeholder="Search for a movie, TV Series that you are looking for"
            [(ngModel)]="searchInputText"
            (keyup)="onSearchInputKeyUp()"
          />
        </div>
      </div>

      <div class="col-12 mt-10 search-cards-container">
        <app-search-movie-card
          *ngFor="let searchResult of searchResults$ | async"
          (redirected)="closeSearch()"
          [link]="
            helperService.configs.routeRootNames.details.build(
              searchResult?.movieDetailsId ?? 0
            )
          "
          [title]="searchResult?.engTitle ?? searchResult?.geoTitle ?? ''"
          [imgSrc]="tempHelper.getImage(searchResult, 'SearchResultsSchema')"
        >
        </app-search-movie-card>
      </div>
    </div>
  </div>
</header>

<!--
<li class="header__nav-item">
  <a
    class="dropdown-toggle header__nav-link"
    href="#"
    role="button"
    id="dropdownMenuCatalog"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    [routerLink]="helperService.routeCheckFormat(helperService.shared.routeRootNames.catalog)"
  >
    Catalog
  </a>
</li>

<app-search-movie-card
  *ngFor="let i of 10 | numberIterate;"
  [link]="'/'"
  [title]="'Blindspotting'"
  [imgSrc]="'https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg'"
>
</app-search-movie-card>
-->
