<div class="hero-area-slide d-flex">
    <img [src]="imgUrl" alt="about"/>

    <div class="hero-area-content">
      <h2>{{title}}</h2>

      <div class="review">
        <div class="author-review">
          <app-star-svg *ngFor="let r of rating | numberIterate"></app-star-svg>

          <!-- if not 5 star rest is outlined -->
          <ng-container *ngIf="rating < 5">
            <app-star-svg *ngFor="let outlineSvg of 5 - rating | numberIterate" [filled]="false"></app-star-svg>
          </ng-container>
        </div>
        <h4>{{reviewCount}}k reviews</h4>
      </div>

      <p>{{description}}</p>

      <div class="slide-trailor d-flex justify-content-between align-items-center">
        <h3>Watch Now</h3>

        <a [routerLink]="link" class="section__btn rounded-button hero-button">Show more</a>
      </div>
    </div>
</div>


<!--<div class="hero-area-slide d-flex">-->
<!--  <img-->
<!--    src="https://i.pinimg.com/564x/23/2e/10/232e10e134cf1d24f10dae39073377d7&#45;&#45;gifs-anim%C3%A9s-animated-gifs.jpg"-->
<!--    alt="about"/>-->

<!--  <div class="hero-area-content">-->
<!--    <h2>The Devil Princess</h2>-->

<!--    <div class="review">-->
<!--      <div class="author-review">-->


<!--&lt;!&ndash;        <app-star-svg></app-star-svg>&ndash;&gt;-->
<!--&lt;!&ndash;        <app-star-svg></app-star-svg>&ndash;&gt;-->
<!--&lt;!&ndash;        <app-star-svg></app-star-svg>&ndash;&gt;-->
<!--&lt;!&ndash;        <app-star-svg></app-star-svg>&ndash;&gt;-->
<!--&lt;!&ndash;        <app-star-svg [filled]="false"></app-star-svg>&ndash;&gt;-->
<!--      </div>-->
<!--      <h4>180k reviews</h4>-->
<!--    </div>-->

<!--    <p>-->
<!--      She is a devil princess from the demon world. She grew up sheltered by her parents and doesn't really know-->
<!--      how to be evil or any of the common actions, She is unable to cry due to Keita's accidental first wish,-->
<!--      despite needed for him to wish...-->
<!--    </p>-->

<!--    <div class="slide-trailor d-flex justify-content-between align-items-center">-->
<!--      <h3>Watch Now</h3>-->

<!--      <a [routerLink]="'/'" class="section__btn rounded-button hero-button">Show more</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
