@import "src/assets/styles/core/variables";
@import "src/assets/styles/mixins/opacity.mixin";

.head-image-container {
  position: relative;
  overflow: hidden; // for blur this is needed (what an actual fuck !!!!)
}

.head-image {
  height: 900px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  object-position: center;
  filter: blur(5px);
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;

  //opacity: 0.9;
  //$overlay-color: rgba(5, 5, 5, 0.85);
  //background-image: linear-gradient(to bottom, $overlay-color 10%, black 100%);

  background-image: linear-gradient(to bottom, rgba(5, 5, 5, 0.8) 97%, #13151F 100%);
}

.swiper-div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 180px;
}
