<swiper
  #swiperRef
  (slideChange)="onSlideChange()"
  [rewind]="true"
  [effect]="'coverflow'"
  [grabCursor]="true"
  [centeredSlides]="true"
  [slidesPerView]="'auto'"
  [spaceBetween]="120"
  [navigation]="true"
  [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }"
  class="mySwiper"
>
  <ng-template swiperSlide>
  </ng-template>

  <ng-template swiperSlide>
  </ng-template>

  <ng-template swiperSlide>
  </ng-template>

  <ng-template swiperSlide>
  </ng-template>

  <ng-template swiperSlide>
  </ng-template>

  <ng-template swiperSlide>
  </ng-template>

  <ng-template swiperSlide>
  </ng-template>

  <ng-template swiperSlide>
  </ng-template>

  <ng-template swiperSlide>
  </ng-template>
</swiper>
