<!-- details -->
<section class="details">
  <div class="details-container">
    <div class="row">
      <!-- player -->
      <div class="col-12">
        <div class="row video-sidenav-container">
          <div class="video">
            <app-video></app-video>
          </div>

          <!-- accordion -->
          <div class="sidenav">
            <app-sidenav></app-sidenav>
          </div>
        </div>
      </div>

      <app-episode-details
        imgSrc="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg"
        releaseYear="2017"
        duration="120 min"
        title="I Dream in Another Language"
        [rating]="6.4"
        description="It is a long established fact that a reader will be distracted by the
                      readable content of a page when looking at its layout. The point of using
                      Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                      opposed to using 'Content here, content here', making it look like readable
                      English. Many desktop publishing packages and web page editors now use Lorem
                      Ipsum as their default model text, and a search for 'lorem ipsum' will
                      uncover many web sites still in their infancy. Various versions have evolved
                      over the years, sometimes by accident, sometimes on purpose (injected humour
                      and the like)."
        [categories]="['Action', 'Trailer']"
      ></app-episode-details>
    </div>
  </div>
</section>


<app-basic-movie-carousel-card>
  <swiper
    #topMovieSwiperRef
    [loop]="true"
    [effect]="'flip'"
    [grabCursor]="true"
    [navigation]="true"
    [slidesPerView]="5"
    [spaceBetween]="50"
  >
    <!--    [slidesPerView]="'auto'"-->
    <ng-container *ngFor="let x of [1,2,3,4,5,6,7,8,9,10]">
      <ng-template swiperSlide>
        <app-basic-movie-card
          [imgSrc]="'https://i.pinimg.com/564x/23/2e/10/232e10e134cf1d24f10dae39073377d7--gifs-anim%C3%A9s-animated-gifs.jpg'"
          [link]="'/'"
          [rating]="1.7"
          [title]="x + ' <--The Devil Princess'"
          [categories]="['Wassup', 'Hello']"
        >
        </app-basic-movie-card>
      </ng-template>
    </ng-container>


    <!--    <ng-container *ngFor="let topMovie of homeTopMovies$ | async">-->
    <!--      <ng-template swiperSlide>-->
    <!--        <app-basic-movie-card-->
    <!--          [imgSrc]="topMovie?.covers?.s510 ?? topMovie?.covers?.s367 ?? ''"-->
    <!--          [link]="'/'"-->
    <!--          [rating]="topMovie?.imdb ?? 0"-->
    <!--          [title]="topMovie?.engTitle ?? ''"-->
    <!--          [categories]="tempHelper.getGenres(topMovie?.genres)"-->
    <!--        >-->
    <!--        </app-basic-movie-card>-->
    <!--      </ng-template>-->
    <!--    </ng-container>-->
  </swiper>
</app-basic-movie-carousel-card>
