@import "src/assets/styles/core/variables";

$plyr-color: #0FB3FF;

.details {
  margin-top: 150px;
}

.video-series {
  width: 70%;
}

.video-movie {
  height: 610px;
  width: 1090px;
  overflow: hidden;
}


.movies-language-options {
  .language-container {
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
  }

  .language-item {
    border: 0.05px solid $plyr-color;
    color: $plyr-color;
    padding: 5px 15px;
    font-size: 14px;
    transition: all 800ms;

    &:hover {
      background-color: $plyr-color;
      box-shadow: 0 0 20px 0 $plyr-color;
      color: white;
    }

    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  .language-item-active {
    background-color: $plyr-color;
    color: white;
  }
}

.details-container {
  margin: 0 150px;

  @media (max-width: 1440px) {
    margin: 0 100px;
  }
  @media (max-width: 870px) {
    margin: 0 50px;
  }
}

.video-sidenav-container {
  display: flex;
  flex-direction: row;

  .sidenav {
    flex: 1;
    margin-left: 20px;
  }

  @media (max-width: 1440px) {
    flex-direction: column;

    .video {
      width: 100%;
    }

    .sidenav {
      flex: 1;
      margin: 50px 0 0 0;
    }
  }
}
