<!--<plyr style="display: block;"-->
<!--      plyrTitle="Video 1"-->
<!--      [plyrPlaysInline]="true"-->
<!--      [plyrSources]="videoSources"-->
<!--      (plyrInit)="player = $event"-->
<!--      (plyrPlay)="played($event)">-->
<!--</plyr>-->


<div
  style="display: block; width: 100%;height: 100%"
  plyr
  plyrTitle="Custom video"
  [plyrPlaysInline]="true"
  [plyrPoster]="poster"
  [plyrSources]="videoSources"
  [plyrTracks]="tracks"
  (plyrInit)="player = $event"
  (plyrPlay)="played($event)"></div>
